.navbar-container {
  padding: 20px;
  background-color: gray;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.navbar-logo {
  width: 50px;
  height: 25px;
  object-fit: contain;
}

.navbar-link {
  text-decoration: none;
}

.navbar-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.navbar-contact-button {
  background-color: orangered;
  padding: 20px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
